.botonCasillero{
    -fx-background-color: #a04000;
    -fx-text-fill: WHITE;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px
}


.botonCasillero:focused{
    -fx-border-color: RED;
    -fx-border-width: 3px;
}


.botonCasillero1{
    -fx-background-color: #6e2c00;
}

.botonConSoldado1{
    -fx-background-image: url("soldado.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
}

.botonConJinete1{
    -fx-background-image: url("caballo.png");
    -fx-background-size: 60px 60px;
    -fx-background-repeat: no-repeat;
}

.botonConCurandero1{
    -fx-background-image: url("curandero2.png");
    -fx-background-size: 60px 60px;
    -fx-background-repeat: no-repeat;
}

.botonConCatapulta1{
    -fx-background-image: url("catapulta.png");
    -fx-background-size: 60px 60px;
    -fx-background-repeat: no-repeat;
}

.botonConSoldado2{
    -fx-background-image: url("soldado1.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
}

.botonConJinete2{
    -fx-background-image: url("caballo1.png");
    -fx-background-size: 60px 60px;
    -fx-background-repeat: no-repeat;
}

.botonConCurandero2{
    -fx-background-image: url("curandero1.png");
    -fx-background-size: 60px 60px;
    -fx-background-repeat: no-repeat;
}

.botonConCatapulta2{
    -fx-background-image: url("catapult.png");
    -fx-background-size: 60px 60px;
    -fx-background-repeat: no-repeat;
}